.my-card {
  display: inline-block;
  margin: 0 10px 6px 0;

  .my-card-body {
    height: 100%;
    width: 100%;
    display: table;
  }
}

.my-card:hover {
  opacity: 0.6;
  cursor: pointer;
}

.effect7
{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
